body{
  background-color: lightgray;
  color: black;
  font-size: 2vw;
  font-family: monospace;
  max-width: 100%;
  padding-top: 100px;
}

button{
  font-size: 2vw;
}

header{
  position: fixed;
  right: 10px;
  top: 10px;
  background-color: rgba(255, 255, 255, 255);
  z-index: 999;
}

details > * {
  display: block;
  width: 80%;
  margin: 10px;
}
summary{
  text-align: right;
  margin: 10px;
  padding: 10px;
}

.template{
  display: none;
}

.NoteContent {
  margin: 10px;
  border: 10px solid darkgrey;
  max-width: 90%;
}

.NoteContent[contenteditable = true] {
  margin: 10px;
  border: 10px solid lightgreen;
}


.NoteListBase li{
  display: inline;
  margin-right: 20px;
}

@media (max-width: 300mm) and (orientation: portrait){
  *, button {
    font-size: 5vw;
  }
  button {
    margin-top: 3vw;
    margin-bottom: 3vw;
  }
  
}

#FrameNav .FrameNavBody{
  display: none;
}
#FrameNav:focus-within > .FrameNavBody{
  display: block;
}