body{
  background-color: lightgray;
  color: black;
  font-size: 2vw;
  font-family: monospace;
}

button{
  font-size: 2vw;
}

.template{
  display: none;
}

.NoteContent {
  margin: 10px;
  border: 10px solid darkgrey;
}

.NoteContent[contenteditable = true] {
  margin: 10px;
  border: 10px solid lightgreen;
}

@media (max-width: 300mm) and (orientation: portrait){
  body, button{
    font-size: 3vw;
  }
  
}
